.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.list {
  list-style-type: none;
}

#header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8vw;
}

body {
  background-color: aquamarine;
}

.display {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}